body {

    background-color: #0a0c0b;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.clearFix {
    clear: both;
}
.container {
    
    margin: auto;
    overflow: hidden;
    
}
#mainHeader {
    background-color: #333;
    color: rgba(199, 7, 0, 0.637);
}
#mainFooter {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30%;
}

/* NAVIGATION BAR */

/* Add a black background color to the top navigation */
#mainNav {
    background-color: #ccc;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    
    
}
#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainNav li {
    float: right;
    display: inline;
    padding: 2px 15px 0 15px;
    

}
/* Style the links inside the navigation bar */
#mainNav a {
   color: black;
   text-decoration: none;
   font-size: 18px;
}

/* Change the color of links on hover */
#mainNav li:hover {
    background: #ddd;
    
}

/* Add a color to the active/current link */
#mainNav li a.active {
    background-color: #7a0e0ebb;
    color: white;
    padding: 10px;
}


/* INDEX PAGE */

#div.index {
    border-style: solid;
    border: 0px solid #0a0a0a;
    /*background-image: url(images/tassStats.png);*/
}

.index {
    background-color: #111111;
    text-align: center;

}

.indexPhoto {
    height: 25vw;
    position: relative;
    animation-name: index;
    animation-duration: 25s;
    animation-delay: 0s;
    animation-iteration-count: 1;


}



@keyframes index {

    0% {
        opacity: 0;
        right: 0vw;
        bottom: 0vw;
    }

    25% {
        opacity: 0;
        right: 0vw;
        bottom: 20vw;
    }

    50% {
        opacity: 0;
        right: 20vw;
        bottom: 20vw;
    }

    75% {
        opacity: 0;
        right: 30vw;
        bottom: 0vw;
    }

    100% {
        opacity: 1;
        right: 0vw;
        bottom: 0vw;
    }
}


.indexButton {
    background-color: #111111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    color: #e6dede;
    position: relative;
    animation: enter 3s infinite;
    animation-timing-function: linear;
    animation-delay: 0s; /*26s*/
    opacity: 0;   
    z-index: 1;
    
}


div.quote1 {
    border-style: none;
    font-size: x-large;
    color: #aaaaaa;
    position: relative;
    animation-name: quote;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    opacity: 0;
    margin: 0vw 40vw 0vw 20vw;
}

@keyframes quote {
    0% {
        opacity: 0;

    }

    25% {
        opacity: 0.3;

    }

    50% {
        opacity: 1;

    }

    75% {
        opacity: 0.5;

    }

    100% {
        opacity: 0;

    }
}

.quote2 {
    border-style: none;
    margin: 0vw 45vw 0vw 20vw;
    font-size: x-large;
    color: #aaaaaa;
    position: relative;
    animation-name: quote;
    animation-duration: 7s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    opacity: 0;
}




.quote3 {
    border-style: none;
    margin: 0vw 45vw 0vw 20vw;
    font-size: x-large;
    color: #aaaaaa;
    position: relative;
    animation-name: quote;
    animation-duration: 8s;
    animation-delay: 13s;
    animation-iteration-count: 1;
    opacity: 0;
}

/*BUTTON TO INTRO PAGE*/
.introButton {
    background-color: #111111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    color: #e6dede;
    position: relative;
    animation: enter 3s infinite;
    animation-timing-function: linear;
    animation-delay: 28s;
    opacity: 0;

}

@keyframes enter {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
        color: #111111;

    }

}

/*INTRO PAGE*/

.introBody {
    background-color: #111111;
    margin: 40vw 1vw 40vw 1vw;
}

#rogue {
    font-size: x-large;
    color: #e6dede;
}

#sec1 {
    border-style: solid;
    border: 3px solid #0a0a0a;
    border-radius: 500px 500px 0px 0px;
    padding: 5px;
    /*background-image: url("images/tassFire.webp");*/
    height: 300px;
    margin: 10px 50px 10px 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    animation-name: intro;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

@keyframes intro {

    0% {
        opacity: 0;
        right: 0vw;
        bottom: 0vw;
    }

    25% {
        opacity: 0;
        right: 0vw;
        bottom: 20vw;
    }

    50% {
        opacity: 0;
        right: 20vw;
        bottom: 20vw;
    }

    75% {
        opacity: 0;
        right: 30vw;
        bottom: 0vw;
    }

    100% {
        opacity: 1;
        right: 0vw;
        bottom: 0vw;
    }
}


#sec2 {
    border-style: solid;
    border: 3px solid #0a0a0a;
    border-radius: 0px 0px 500px 500px;
    padding: 5px;
    /*background-image: url("images/tassFire.webp");*/
    height: 300px;
    margin: 10px 50px 10px 50px;
    background-attachment: fixed;
    background-position: center;
    animation-name: intro;
    animation-duration: 3s;
    animation-iteration-count: 1;

}

/*ABOUT PAGE*/


h3 {
    text-align: left;
    color: rgb(248, 248, 248);
    margin-left: 10px;
    margin-top: 10px;
}
#about {
    font-size: 18px;
    background-size: auto;
    background-attachment: fixed;
   background-size: 90%;
    background-repeat: no-repeat;
}

#about1 {
    /* border-style: hidden;*/
    padding: 15px;
    font-size: x-large;
    background-color: #3f0e0eb9;
    position: left;
    width: 32%;
    opacity: 0.8;
    border-radius: 2px;
    margin-left: 10px;
}

#about2 {
    padding: 15px;
    font-size: x-large;
    background-color: #3f0e0eb9;
    position: left;
    width: 50%;
    opacity: 0.8;
    border-radius: 2px;
    margin-left: 10px;
}

#about3 {
    padding: 2%;
    font-size: x-large;
    background-color: #3f0e0eb9;
    position: left;
    width: 50%;
    opacity: 0.8;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.about4 {
    background-color: #000000;
    color: wheat;
    border-style: groove;
    font-size: x-large;
    opacity: 0.8;
}

/*ADS ON ABOUT PAGE*/
#ads {
    border-style: none;
    background-color: #575454;
    font-size: 18px;
    color: wheat;
    position: absolute;
    top: 8px;
    right: 50px;
    margin-top: 20vw;
    padding: 10px 40px;
}

/*STATS PAGE*/

#jumbo {
    background-image: url(../images/darkfan.jpg);
    background-position: fixed;
    min-height: 250px;
    text-align: center;
}
#social {
    margin-top: 100px;
}

/*CONTACT PAGE*/
#contactSection{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}